@import 'Collapse-de25c7ed.css';.icon.svelte-1ahmezf{color:#000;fill:#000;width:16px;height:16px}
#bg-image.has-webp.svelte-1d2psix{background-image:url("/background.webp");background-repeat:"no-repeat"}
